
<!-- hero title -->
<section class="hero flex-center">
  <div class="hero-message">
     <section class="section">
		<div class="container">
		   <div class="columns">
			  <div class="column">
				<article class="media">
					<figure class="media-left">
						
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4"></h1>
								<p class="is-size-5">
								
								</p>
						</div>
					</div>
				</article>
			</div>
					
			<div class="column">
				<article class="media">
					<figure class="media-left">
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4 dark-gray"></h1>
								<p class="is-size-5 dark-gray">
									 
								</p>
							</div> 
						</div>
					</article>
				</div>
				<div class="column ba bw1 b--light-silver br3">
					<article class="media">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fas fa-2x fa-align-justify"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4dark-gray">Let's Clean!</h1>
								<p class="is-size-5 dark-gray">
									Sign up to create a plan to conquer the mess. 
								<div class="ph3">
									<%= link_to "Sign up", new_user_registration_path, class: "f6 link dim br2 ph3 pv2 mb2 dib white bg-mid-gray" %>
	    						</div> 
								</p>
							</div>
						</div>
					</article>
				</div>
			</section>
    </div>
  </div>
  <div class="not-hero flex-center bg-info">
  	<div class="not-hero-message">
  		<h1 class="hero-title"></h1>
  	</div>
  </div>
</section>
<!-- end of hero section -->
<!-- section with columns -->

			