<section class="hero">
	<div class="hero-body">
		<div class="container">
			<figure class="image">
				<%= image_tag('cleaning_products.jpg', alt: "Cleaning Image", style: "max-width: 160px;max-height: 250px;margin: auto;") %>
			</figure>
		</div>
	</div>
</section>
<!-- Hero section ends -->

<!-- section with columns -->
<section class="section has-background-light">
	<div class="container">
		<div class="columns">
			<div class="column">
				<article class="media notification is-info">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fab fa-2x fa-css3-alt"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Join the Clean Team</h1>
								<p class="is-size-5">
								Let's work on organizing your house. We can get a schedule together and get this done! 
								</p>
							</div>
						</div>
					</article>
				</div>
					
				<div class="column">
					<article class="media notification is-primary">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fas fa-2x fa-align-justify"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">No Dust Bunnies!</h1>
								<p class="is-size-5">
									We want this to be as easy as possible to use your time efficiently. We got this! Get ready get set get clean!
								</p>
							</div> 
						</div>
					</article>
				</div>
				<div class="column">
					<article class="media notification is-warning">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fas fa-2x fa-shield-alt"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Embrace the Clean</h1>
								<p class="is-size-5">
									Plus, let's get the entire family working together as light hands make quick and easy work. 
								</p>
							</div>
						</div>
					</article>
				</div>
			</section>
			<!-- end of section -->

			<!-- section with multilines-->
			<section class="section">
			<div class="container">
				<div class="columns is-multiline">
					<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon">
								<i class="fas fa-lg fa-columns has-text-warning"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Join the Clean Team</h1>
								<p class="subtitle is-size-5">
								Let's work on organizing your house. We can get a schedule together and get this done! 
								</p>
							</div>
						</div>
					</article>
				</div>
					
				<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon has-text-info">
								<i class="fab fa-lg fa-wpforms"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">No Dust Bunnies!</h1>
								<p class="subtitle is-size-5">
									We want this to be as easy as possible to use your time efficiently. We got this! Get ready get set get clean!
								</p>
							</div> 
						</div>
					</article>
				</div>
				<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon has-text-danger">
								<i class="fas fa-lg fa-cubes"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Embrace the Clean</h1>
								<p class="subtitle is-size-5">
									Plus, let's get the entire family working together as light hands make quick and easy work. 
								</p>
							</div>
						</div>
					</article>
				</div>
				<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon has-text-grey">
								<i class="fas fa-lg fa-cogs"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Embrace the Clean</h1>
								<p class="subtitle is-size-5">
									Plus, let's get the entire family working together as light hands make quick and easy work. 
								</p>
							</div>
						</div>
					</article>
				</div>
				<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon has-text-primary">
								<i class="fas fa-lg fa-warehouse"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Embrace the Clean</h1>
								<p class="subtitle is-size-5">
									Plus, let's get the entire family working together as light hands make quick and easy work. 
								</p>
							</div>
						</div>
					</article>
				</div>
				<div class="column is-one-third">
					<article class="media notification has-background-white">
						<figure class="media-left">
							<span class="icon has-text-danger">
								<i class="fas fa-lg fa-cube"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">Embrace the Clean</h1>
								<p class="subtitle is-size-5">
									Plus, let's get the entire family working together as light hands make quick and easy work. 
								</p>
							</div>
						</div>
					</article>
				</div>
			</section>


