<section class="section">
	<div class="container">
		<div class="column">
			<p>Provide the title of the room and then indicate the name of the list of the chores you need completed in that room. Ex: In the Kitchen, Morning Chores, Unload Dishwasher, Make lunch, Prep Dinner, Clean breakfast dishes, wipe down counters</p> 
		</div>
		<h2 class="title">Room</h2>
		<%= render 'form' %>
	</div>
</section>